@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  }
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--purple);
    text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.342);
    
}
main{
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-bg-color);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.342);
    margin: auto;
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 800px;
    padding-bottom: 20px;
    max-height: 90vh;
    max-width: 80vh;
}
.avatar{
    display: flex;
    justify-content: center;
    perspective: 1000px;
}

.avatar img{
    transition: 0.3s;
    height: 200px;
    border-radius: 50%;
    border: 3px solid var(--purple);
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.247);
    margin-top: 10px;
    margin-bottom: 10px;
}
.avatar img:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 7px blueviolet;
}
#insta{
    text-align: center;
    margin-bottom: 20px;
}
#insta a{
    text-decoration: none;
    color: var(--purple);
}
.link{
    text-align: center;
    margin-bottom: 10px;
    transition: 0.3s;
}
.link:hover{
    transform: scale(1.1);
}
.link a{
    text-decoration: none;
    font-weight: bold;
    color: var(--purple);
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--purple);
    padding: 2px 50px 2px 50px;
}
.link a:hover{
    box-shadow: 1px 2px 7px blueviolet;
    text-shadow: 1px 2px 7px blueviolet;
}
div.social{
    text-align: center;
    margin-top: 50px;
}

.social a{
    font-size: 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--purple);
}
.social a:hover{
    color: blueviolet;
    text-shadow: 1px 2px 7px blueviolet;

}
#mensao{
    margin-top: -25px;
    text-align: center;
}
#mensao a{
    text-decoration: none;
    color: #b480e9;
}
#mensao a:hover{
    text-decoration: underline;
}